@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

}


/* Body styles */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #e2e2e2,#c9d6ff);
}

/* Container */
.container{
    position:relative;
    width:850px;
    height: 550px;
    background: #fff;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.container h1{
    font-size: 36px;
    margin: -10px 0;

}

.container p{
    font-size: 14.5px;
    margin: 15px 0;
}

form{
    width: 100%;
}

.form-box{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    color: #333;
    padding: 40px;
    z-index: 1;
    transition: 0.6s ease-in-out 1.2s, visibility 0s 1s;
}

.container.active .form-box{
    right: 50%;

}

.form-box.register{
    visibility: hidden;
}

.container.active .form-box.register{
    visibility: visible;
}
.input-box {
    position: relative;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    padding: 13px 50px 20px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.input-box input::placeholder{
    color: #888;
    font-weight: 400;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50px;
    transform: translate(-50%);
    font-size: 20px;
}
.forgot-link {
    margin: -15px 0 15px;
}



